{% extends "AppBlog/padre.html" %}

{% load static %}

{% block contenidoquecambia %}


<body>

    <p align="center"> ¿QUIEN SOY YO? </p>

    <p> Soy Augusto Todisco, un nombre no tan común, alguien misterioso, eso ya se sabe, 
        pero para lograr llegar al tesoro tenes que conocerme un poco más.
        Esta información quizá te sirva, quizá no ¿Quien sabe?
        Ya seguro deducirás que nací en Capital Federal, en la Provincia de Buenos Aires, puede que en el 2001, puede que en
        el 2000, puede que en el 1998 o en el 2003. Siempre viví acá pero soy muy viajero, asi que si buscas los datos, 
        probablemente esté en la capital, pero capaz este en uno de mis tantos viajes que no son pocos.
    </p>
    <p>
        Los alrededores de Port Elizabeth, Hout Bay, Sun City, Ciudad del Cabo, todo Sudáfrica de arriba a abajo. Pero despues
        un poco de Uruguay, quien sabe por dónde ¿Brasil? demasiado grande, un lugar enorme para encontrar cosas, probablemente
        Y si anduve por África, seguramente he ido a lugares mas exóticos asi que vas a tener que estar atento a cada una de las
        pistas en esos lugares.
    </p>
    <p>
        Nada esta librado al azar, todo tiene algo que ver así que tenes que conocerme mucho, conocer un poco de esto, conocer un poco
        de aquello, conocer un poco de por ahí o de otros, porque...¿Seré yo solo? ¿O habrá varios más?
    </p>
    <p>
        Si, una de las cosas que notaste que mas me gustan es dejar dudas y que la gente resuelva acetijos jaja.
    </p>
    <p>
        La plata no la robé, es una gran aclaración que muchos creen, tampoco trabajo ¿Como voy a trabajar siendo apenas un chico?
        Probablemente la haya heredado de una familia poderosa, una tan poderosa que para tomar en su mansión, en vez de gaseosa,
        en vez de agua, toman el vino que fabrican allá por Mendoza.
    </p>
    <p>
        Habiendome presentado, te digo a vos, que estas ansioso: Difícil pero no imposible.
    </p>

</body>

{% endblock %}

{% block encabezado %}
 
  Sobre mi

{% endblock %}

{% block titulo %} 

<h1> Un poco sobre mí </h1>

{% endblock %}