{% extends "AppBlog/inicio.html" %}

{% load static %}

{% block contenidoquecambia %}

<p>Mediante un apellido podes buscar miembros. Si ya sabes con quien ando metido, podes buscar tranquilo, hasta podes
    buscarte a vos.
</p>

<form action="/AppBlog/buscar/" method="GET"> {% csrf_token %}
    
    <input name="apellido" type="text" id="apellido">
    
    <input type="submit" value="BUSCAR">
</form>

{% endblock %}

{% block encabezado %}
 
  Buscar Apellido

{% endblock %}

{% block titulo %} 

<h1> ¿Queres buscar un apellido? Podes. </h1>

{% endblock %}