{% extends "AppBlog/padre.html" %}

{% load static %}

{% block contenidoquecambia %}

<p>Perfecto creaste un proyecto</p>
<p> Esto amerita una nueva pista, para tu felicidad</p>
<p>El tesoro esta sobre un lugar en dónde podemos tener mucha imaginación, tanta que podemos crear nuestras propias estructuras
  y moldearlas como queramos, en especial, una fortaleza, un castillo....Hacemos mucho eso.
</p>


{% endblock %}

{% block encabezado %}
 
  Confirmación de recepción.

{% endblock %}

{% block titulo %} 

 <h1> Nuevo proyecto creado. </h1>

{% endblock %}