{% extends "AppBlog/padre.html" %}

{% load static %}

{% block contenidoquecambia %}

<p>Perfecto creaste un viaje que capaz me faltaba.</p>
<p> Esto amerita una nueva pista, para tu felicidad</p>
<p>El tesoro y yo estaremos en algún lugar solamente en un momento del día en dónde muchos lugares no estan abiertos y los
    nenes no estan. Pero a pesar de la oscuridad, hay muchas cosas encendidas y bastante moviditas.
</p>


{% endblock %}

{% block encabezado %}
 
  Confirmación de recepcion.

{% endblock %}

{% block titulo %} 

 <h1> Nuevo viaje creado. </h1>

{% endblock %}