{% extends "AppBlog/inicio.html" %}

{% load static %}

{% block contenidoquecambia %}

<p> Encontraste este enlace a esta pagina, no a mi, pero puede decirse que estas cerca de lo que buscas</p>

<p> Si estas viendo esto, podes quedarte tranquilo, yo hice esto, yo soy real y tengo ese tesoro que seguro tanto buscas.
    Pensar que todos tus amigos pueden haberte tratado de loco porque supuestamente no existía y lo del tesoro eran simples cuentos
    que te contaban tus papas a la hora de dormir. Pero ya estoy aca ¿O no?
</p>

<p> Para encontrar este tesoro vas a tener que conocerme un poco primero. Porque soy asi de narcicista, quiero reconocimiento, 
    siempre me interesó el reconocimiento, solo estos molestos pasos van a llevarte a una riqueza incalculable.
</p>

<p>
    Seguí todo atentamente al pie de la letra, si llegaste acá, es porque podes.
</p>



{% endblock %}

{% block encabezado %}
 
  Home

{% endblock %}

{% block titulo %} 

<h1> ¡Me encontraste! </h1>

{% endblock %}