{% extends "AppBlog/padre.html" %}

{% load static %}

{% block contenidoquecambia %}

{% if user.is_authenticated %}
<div class="text-center">
    <img src="{{url}}" height="40px">
    <h3> Bienvenido {{user.username}} ¿Estas listo? </h3>
</div>
{% endif %}

<p> Encontraste este enlace a esta pagina, no a mi, pero puede decirse que estas cerca de lo que buscas</p>

<p> Si estas viendo esto, podes quedarte tranquilo, yo hice esto, yo soy real y tengo ese tesoro que seguro tanto buscas.
    Pensar que todos tus amigos pueden haberte tratado de loco porque supuestamente no existía y lo del tesoro eran simples cuentos
    que te contaban tus papas a la hora de dormir. Pero ya estoy aca ¿O no?
</p>

<p> Para encontrar este tesoro vas a tener que conocerme un poco primero. Porque soy asi de narcicista, quiero reconocimiento, 
    siempre me interesó el reconocimiento, solo estos molestos pasos van a llevarte a una riqueza incalculable.
</p>

<p>
    Cada pista que te deje en esta pagina es valiosísima, asi que seguila hasta el pie de la letra que siempre te voy a dejar algo
    hace falta pasión e inteligencia. Como la que tuvo Blazquez, un "socio" mío, o en su momento el gran Guido Spano.
</p>

<p>
    Seguí todo atentamente, si llegaste acá, es porque podes.
    Es más hasta aca hay un nombre que es una pista clave. Y otro nombre referido a la educación.
</p>

<p align="center">
    <img src="/media/Imagenes/tesoro.png" height="500" width="500"/>
    <p align="center">
      <b> UN TESORO MUY CODICIADO </b>
    </p>

    <p align="center">
        <b> ¿Te gusta? Puede ser tuyo. </b>
    </p>

    <p align="center">
        <b> 19/06/2017 ph: su servidor </b>
    </p>
</p>

<p align="center">
    <img src="/media/Imagenes/oro.jpg" height="500" width="500"/>
    <p align="center">
      <b> EL ORO </b>
    </p>

    <p align="center">
        <b> Una riqueza incalculable </b>
    </p>

    <p align="center">
        <b> 19/06/2017 ph: un miembro desconocido</b>
    </p>
</p>

<p>
    Que bien que se ve el oro ¿No? Imaginate toda la platita que te puedo llegar a dar. Andá fantaseando ¿Cambiar el auto?
    ¿Una escapadita a algún lugar para vacacionar? ¿O te gusta más lo exotico? ¿Despilfarrarla por placer? ¿O aportar a la
    comunidad científica? Bueno, ahí fantaseo yo, la verdad que nadie quiere eso. Por eso tenes que prepararte, porque vas
    a vivir la aventura más importante de tu vida. Haceme caso, seguí bien las pistas.
</p>

<p>
   Si queres editar el perfil, usa editarperfil ahi arriba en la barra de direcciones, puede que haya algo que no te haya gustado.
   Si, lo admito, la carita feliz probablemente haya estado de más. Pero esto va a ser tortuoso asi que mas te vale que te inspires.

</p>

<p align="center"> ¡A JUGAR!</p>



{% endblock %}

{% block encabezado %}
 
 Augusto Todisco

{% endblock %}

{% block titulo %} 

<h1> ¡Me encontraste! </h1>  

{% endblock %}