{% extends "AppBlog/padre.html" %}

{% load static %}

{% block contenidoquecambia %}

<p> ¿Te pensabas que estaba solo? Obviamente tengo buenas personas, "socios", fieles seguidores que desinteresadamente me siguen en mis 
    aventuras. Unite vos tambien quizá tengas una pista.
</p>

{% if miFormulario.errors %}

<p style="color:red"> Los datos son incorrectos, intentá de nuevo</p>

{% endif %}

<form action="" method="POST"> {% csrf_token %}

    <table>

     {{miFormulario.as_table}}

    </table>

    <input type="submit" value="ENVIAR">
</form>



<p> Tambien podes buscar a uno de mis miembros, por el apellido. Podes no saber quienes son 
  porque no te los dije, ni siquiera uno 
</p>
<p> ¿O si?</p>

<form action="/AppBlog/buscar/" method="GET">
  <input type="text" name="apellido" id="apellido">
  <input type="submit" value="BUSCAR">





</form>

{% endblock %}

{% block encabezado %}
 
  Unirse como Miembro

{% endblock %}

{% block titulo %} 

<h1> Unite! </h1>

{% endblock %}