{% extends "AppBlog/padre.html" %}

{% load static %}

{% block contenidoquecambia %}

<p> Antes de enfrascarme en esta aventura, fui un aspirante a Ingenieria en Sistemas.
    Apenas llegue a una tecnicatura, ni a analista llegué. 
    Aca te muestro mis proyectos para que conozcas este lado de mí. Si me encontras capaz te cuente anecdotas</p>

{% for proyecto in proyectos %}
  
  <li>{{proyecto}}</li>
  <button>
      <a href="{% url 'eliminarproyectos' proyecto.nombre %}"> Eliminar </a>
  </button>


{% endfor %}

{% endblock %}

{% block encabezado %}
 
  Proyectos

{% endblock %}

{% block titulo %} 

<h1> Mis proyectos </h1>

{% endblock %}