{% extends "AppBlog/padre.html" %}

{% load static %}

{% block contenidoquecambia %}

<p> Antes de enfrascarme en esta aventura, fui un aspirante a Ingenieria en Sistemas.
    Apenas llegue a una tecnicatura, ni a analista llegué. 
    Aca te muestro mis proyectos para que conozcas este lado de mí. Si me encontras capaz te cuente anecdotas</p>

{% for proyecto in proyectos %}
  
  <li>{{proyecto}}</li>
  <button>
       Eliminar
  </button>


{% endfor %}

<p> Tambien podes añadir algún proyecto que capaz me haya olvidado.</p>

{% if formulario.errors %}

<p style="color:red"> Los datos son incorrectos, intentá de nuevo</p>

{% endif %}

<form action="{% url 'proyectos' %}" method="POST"> {% csrf_token %}

    <table>

     {{miFormulario.as_table}}

    </table>

    <input type="submit" value="ENVIAR">
</form>

{% endblock %}

{% block encabezado %}
 
  Proyectos

{% endblock %}

{% block titulo %} 

<h1> Mis proyectos </h1>

{% endblock %}