{% extends "AppBlog/padre.html" %}

{% load static %}

{% block contenidoquecambia %}

<p> Aca te muestro mis viajes para que veas a dónde estuve</p>

<div class="container">
  <table class="table table-bordered text-center">
      <thead>
          <tr>
              <td>ID</td>
              <td>LUGAR</td>
              <td>AÑO</td>
          </tr>
      </thead>
      <tbody>
          {% for viaje in viajes %}
              <tr>
                  <td>{{viaje.id}}</td>
                  <td>{{viaje.destino}}</td>
                  <td>{{viaje.año}}</td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
</div>

{% if miFormulario.errors %}

<p style="color:red"> Los datos son incorrectos, intentá de nuevo</p>

{% endif %}

<form action="" method="POST"> {% csrf_token %}

    <table>

      {{miFormulario.as_table}}

    </table>

    <input type="submit" value="ENVIAR">
</form>


<p> Si querés editar algún viaje que ingresaste porque te equivocaste o eliminarlo no hay ningún problema. Anda a la url
    de arriba, poné en vez de viajes 'eliminar_viaje' o 'editar_viaje y el id del viaje a eliminar.
</p>




{% endblock %}

{% block encabezado %}
 
  Viajes

{% endblock %}

{% block titulo %} 

<h1> Mis viajes </h1>

{% endblock %}